@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family: "Outfit", sans-serif;

  --black: #1b1b1f;
  --white: #e3e3e3;
  --green: #3dd68c;
  --dark-green: #097969;
}

@layer base {
  html {
    font-family: var(--font-family);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.scroll-style {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-green) var(--black);
  /* scrollbar-gutter: stable both-edges; */
}

.p-paginator {
  background-color: var(--black) !important;
  border-radius: 8px;
  padding: 0.5rem;
}

.p-select {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  width: fit-content !important;
  align-items: center !important;
}

.p-select-label {
  padding-right: 0rem !important;
}

.p-select-dropdown {
  background-color: transparent !important;
  width: fit-content !important;
  padding-left: .5rem !important;
}

.p-select-dropdown-icon {
  color: var(--white) !important;
  width: 16px !important;
  height: 16px !important;
  padding-top: .2rem !important;
}